{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

{% block title %}City{% endblock %}

{% block main %}
<div class="container py-4">
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {{ inlines.media }}
        {{ form|bootstrap }}
        {% for formset in inlines %}
            <div id="sectors"></div>
            <div class="formset">
                {{ formset.management_form }}
                {% for form in formset %}
                    <div id="{{ form.prefix }}-row" class="{{ formset.prefix }}-row border rounded mb-3 p-4">
                        {{ form|bootstrap }}
                    </div>
                {% endfor %}
                <div class="d-none {{ formset.prefix }}-empty {{ formset.prefix }}-row border rounded mb-3 p-4">
                    {{ formset.empty_form|bootstrap }}
                    <button type="button" data-prefix="{{ formset.prefix }}" class="delete-row">Apagar</button>
                </div>
                <button type="button" data-prefix="{{ formset.prefix }}" class="add-row">add property</button>
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery.formset.js' %}"></script>
{% endblock %}